/*
body {
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
	font-weight: normal;
	line-height: 1.5;
	color: #0a0a0a;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
*/

@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 300;
	src: url("https://assets.ubuntu.com/v1/e8c07df6-Ubuntu-L_W.woff2") format("woff2"), url("https://assets.ubuntu.com/v1/8619add2-Ubuntu-L_W.woff") format("woff");
}

@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
	src: url("https://assets.ubuntu.com/v1/fff37993-Ubuntu-R_W.woff2") format("woff2"), url("https://assets.ubuntu.com/v1/7af50859-Ubuntu-R_W.woff") format("woff");
}

@font-face {
	font-family: 'Ubuntu';
	font-style: italic;
	font-weight: 300;
	src: url("https://assets.ubuntu.com/v1/f8097dea-Ubuntu-LI_W.woff2") format("woff2"), url("https://assets.ubuntu.com/v1/8be89d02-Ubuntu-LI_W.woff") format("woff");
}

@font-face {
	font-family: 'Ubuntu';
	font-style: italic;
	font-weight: 400;
	src: url("https://assets.ubuntu.com/v1/fca66073-ubuntu-ri-webfont.woff2") format("woff2"), url("https://assets.ubuntu.com/v1/f0898c72-ubuntu-ri-webfont.woff") format("woff");
}

@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 100;
	src: url("https://assets.ubuntu.com/v1/7f100985-Ubuntu-Th_W.woff2") format("woff2"), url("https://assets.ubuntu.com/v1/502cc3a1-Ubuntu-Th_W.woff") format("woff");
}

@font-face {
	font-family: 'Ubuntu Mono';
	font-style: normal;
	font-weight: 300;
	src: url("https://assets.ubuntu.com/v1/fdd692b9-UbuntuMono-R_W.woff2") format("woff2"), url("https://assets.ubuntu.com/v1/85edb898-UbuntuMono-R_W.woff") format("woff");
}

@font-face {
	font-family: 'Ubuntu Mono';
	font-style: normal;
	font-weight: 400;
	src: url("https://assets.ubuntu.com/v1/fdd692b9-UbuntuMono-R_W.woff2") format("woff2"), url("https://assets.ubuntu.com/v1/85edb898-UbuntuMono-R_W.woff") format("woff");
}

html body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	color: #111;
	font-family: "Ubuntu", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	font-size: 16px;
	font-smoothing: subpixel-antialiased;
	font-weight: 300;
	line-height: 1.5rem;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: "Ubuntu", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	font-smoothing: subpixel-antialiased;
	line-height: 1.5rem;
}


/*
body {
	margin: 0;
	padding: 0;
	background-color: #FFFFFF; */


/* font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; */


/*	font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
	font-weight: 400;
	line-height: 1.5;
	color: #333333;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
*/

.nav-bar {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background: #2c3840;
	height: 75px;
	margin-bottom: 0px;
}

.nav-bar .nav-bar-logo {
	padding: 1.8rem;
}

.nav-bar li {
	background: #2c3840;
}

.nav-bar a {
	color: #fefefe;
	transition: color 0.2s ease-in;
}

.nav-bar a:hover {
	color: #a8b8c3;
}

@media screen and (max-width: 39.9375em) {
	.nav-bar {
		height: 53.57143px;
	}
}

.nav-bar .offcanvas-trigger {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 1.6rem;
	color: #fefefe;
	text-transform: uppercase;
	background-color: #566d7c;
	transition: background-color 0.2s ease-in;
	cursor: pointer;
}

.nav-bar .offcanvas-trigger .offcanvas-trigger-text {
	margin-right: 0.25rem;
	margin-top: 0.25rem;
}

.nav-bar .offcanvas-trigger:hover {
	background-color: #6b879a;
}

@media screen and (max-width: 39.9375em) {
	.nav-bar .offcanvas-trigger {
		padding: 0.9rem;
	}
}

.multilevel-offcanvas {
	background: #222b31;
	padding: 20px;
	color: #fefefe;
}

.multilevel-offcanvas>.menu {
	margin-bottom: 1rem;
}

.multilevel-offcanvas .menu a {
	color: rgba(254, 254, 254, 0.6);
	padding-top: 7px;
	padding-bottom: 7px;
	transition: color 0.2s ease-in;
}

.multilevel-offcanvas .menu a:hover {
	color: #fefefe;
}

.multilevel-offcanvas .fa {
	color: #fefefe;
}

.multilevel-offcanvas .is-accordion-submenu-parent>a::after {
	border-color: rgba(254, 254, 254, 0.6) transparent transparent;
}

.multilevel-offcanvas .social-links {
	margin-left: 20px;
}

.multilevel-offcanvas .social-links li {
	margin-right: 5px;
}

.multilevel-offcanvas .social-links a:hover .fa {
	color: #bebebe;
	transition: color .2s ease-in;
}

.multilevel-offcanvas .social-links .fa {
	font-size: 2.2rem;
}

.body-info {
	text-align: center;
	color: #2c3840;
}

.body-info .button {
	margin: 1rem 0;
	padding: 0.85em 2em;
}

.is-open+.off-canvas-content .hamburger .line:nth-child(1),
.is-open+.off-canvas-content .hamburger .line:nth-child(3) {
	width: 12px;
}

.is-open+.off-canvas-content .hamburger .line:nth-child(1) {
	-webkit-transform: translateX(-5px) rotate(-45deg);
	-ms-transform: translateX(-5px) rotate(-45deg);
	transform: translateX(-5px) rotate(-45deg);
}

.is-open+.off-canvas-content .hamburger .line:nth-child(3) {
	-webkit-transform: translateX(-5px) rotate(45deg);
	-ms-transform: translateX(-5px) rotate(45deg);
	transform: translateX(-5px) rotate(45deg);
}

.hamburger .line {
	width: 20px;
	height: 2px;
	background-color: #fefefe;
	display: block;
	margin: 3px auto;
	transition: all 0.3s ease-in-out;
}

.hamburger .line:last-child {
	margin-bottom: 0;
}

.full-screen {
	height: auto;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	background: url("../img/banner.jpg") center 25% no-repeat;
	background-size: cover;
}

.full-screen .middle-content-section {
	text-align: center;
	color: #333333;
	text-shadow: 2px 2px 4px #fefefe;
}

.full-screen .top-content-section {
	width: 100%;
	z-index: 12;
	background-color: #fefefe;
}

.full-screen .bottom-content-section {
	padding: 1rem;
}

.full-screen .bottom-content-section svg {
	height: 3.75rem;
	width: 3.75rem;
	fill: #fefefe;
}

.full-screen .top-bar {
	background: #fefefe;
	/* background: #FFFFFF; */
}

.full-screen .top-bar .menu {
	background: #fefefe;
}

.full-screen .top-bar .menu .menu-text {
	color: #333;
	font-size: 26px;
	font-weight: unset;
	padding: 0.7rem 1rem 0.7rem 0;
}

.full-screen .top-bar .menu li {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.full-screen .top-bar .menu a {
	color: #333;
	/* font-weight: bold; */
}

.marketing-site-content-section {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.marketing-site-content-section .button.round {
	border-radius: 5000px;
	text-transform: uppercase;
	margin-bottom: 0;
}

.marketing-site-content-section .marketing-site-content-section-img {
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	align-self: center;
	-webkit-flex: 1 0 100%;
	-ms-flex: 1 0 100%;
	flex: 1 0 100%;
}

.marketing-site-content-section .marketing-site-content-section-img img {
	width: 100%;
}

@media screen and (min-width: 40em) {
	.marketing-site-content-section .marketing-site-content-section-img {
		-webkit-flex: 1 0 50%;
		-ms-flex: 1 0 50%;
		flex: 1 0 50%;
	}
}

.marketing-site-content-section .marketing-site-content-section-block {
	padding: 1rem;
	-webkit-flex: 1 0 100%;
	-ms-flex: 1 0 100%;
	flex: 1 0 100%;
	-webkit-align-self: stretch;
	-ms-flex-item-align: stretch;
	align-self: stretch;
	background: #e6e6e6;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
}

@media screen and (min-width: 40em) {
	.marketing-site-content-section .marketing-site-content-section-block {
		-webkit-flex: 1 0 50%;
		-ms-flex: 1 0 50%;
		flex: 1 0 50%;
		padding: 2rem;
	}
}

.marketing-site-content-section-block-header {
	font-size: 24px;
}

.marketing-site-content-section-block-subheader {
	font-size: 13px;
}

.servis-desc {
	color: #666666;
	font-size: 14px;
	line-height: 24px;
}

.promo {
	width: 100%;
	text-align: center;
	height: 375px;
	/* background: #8a8a8a; */
	position: relative;
	color: white;
}

.promo .button.white-hollow {
	border: 1px solid #fefefe;
	color: #fefefe;
	background-color: transparent;
	transition: border 0.5s ease;
}

.promo .button.white-hollow:hover,
.promo .button.white-hollow:active,
.promo .button.white-hollow:focus {
	border: 1px solid #b2b2b2;
	transition: border 0.5s ease;
}

.promo-content {
	z-index: 10;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

.promo-title {
	line-height: 1.25em;
	margin-bottom: 1rem;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.18);
}

.promo-description {
	margin-bottom: 1rem;
}

.promo-bg-image {
	overflow: hidden;
	background-image: none;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.promo-bg-image:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.18);
	position: relative;
	z-index: 1;
}

.sticky-shrinknav-menu {
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 100%;
	background-color: rgba(23, 121, 186, 0.1);
	transition: all 0.5s ease;
}


/*
.sticky-shrinknav-menu {
  
  width: 100%;
background-color: rgba(23, 121, 186, 0.1);
  transition: all 0.5s ease;

}
*/

.sticky-shrinknav-menu li {
	border-radius: 2px;
	transition: all 0.3s ease;
}

.sticky-shrinknav-menu li:hover {
	box-shadow: 0 0 0 1px #333;
}

.sticky-shrinknav-menu a {
	color: #fefefe;
}

.sticky-shrinknav-menu li a.is-active {
	box-shadow: 1px 1px 1px 1px #333;
	border-radius: 2px;
	transition: all 0.3s ease;
}

.subnav-subnav li a:hover {
	background: rgba(254, 254, 254, 0.15);
}

.sticky-shrinknav-header-title {
	transition: all 0.3s ease;
	position: relative;
	-webkit-transform: translateY(-1.875rem);
	-ms-transform: translateY(-1.875rem);
	transform: translateY(-1.875rem);
	margin-bottom: 0;
	color: #fefefe;
}

.welcome-message {
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 0;
	-ms-flex: 1 0 0px;
	flex: 1 0 0;
}

.welcome-title {
	color: #333;
	line-height: 3.2rem;
	margin-bottom: 1rem;
}

.welcome-lead {
	color: #666666;
	font-size: 1.25rem;
	line-height: 1.5;
	margin-bottom: 0;
}

.welcome-content {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	max-width: 1200px;
}

.welcome-message,
.welcome-video {
	padding-left: 2rem;
}

.ecommerce-product-slider .orbit-previous,
.ecommerce-product-slider .orbit-next {
	color: #cacaca;
}

.ecommerce-product-slider .orbit-bullets button {
	height: 0.65rem;
	width: 0.65rem;
}

.ecommerce-product-slider .klien {
	background-color: #fefefe;
	border: 0px solid #e6e6e6;
	padding: 1rem;
	margin-bottom: 1.5rem;
}

.ecommerce-product-slider .klien-thumbnail img {
	/*  display: block;
  position: relative;

display: inline-block;*/
	height: auto;
	width: 96px;
}

.ecommerce-product-slider .klien-title {
	font-family: 'Open sans', sans-serif;
	font-size: 0.9rem;
	font-weight: 600;
	line-height: 1.45rem;
	margin-top: 1rem;
	margin-bottom: 0;
}

.ecommerce-product-slider .klien-desc {
	color: #8a8a8a;
	display: block;
	font-family: 'Open sans', sans-serif;
	font-size: 0.85rem;
}

.ecommerce-product-slider .klien-price {
	color: #3e3e3e;
	display: inline-block;
	font-size: 0.85rem;
	font-weight: 600;
	margin-top: 0.8rem;
}

.ecommerce-product-slider .klien-sale {
	color: #cacaca;
	display: inline-block;
	font-size: 0.85rem;
	margin-left: 0.3rem;
	text-decoration: line-through;
}

.ecommerce-product-slider .klien-colors {
	display: block;
	margin-top: 0.8rem;
}

.ecommerce-product-slider .klien-color-option {
	display: inline-block;
	height: 25px;
	width: 25px;
}

.marketing-site-features {
	text-align: center;
	padding: 2rem 0;
}

.marketing-site-features .fa {
	font-size: 2rem;
	margin-bottom: 1rem;
	color: #1779ba;
}

.marketing-site-features .servis-title {
	/*
  font-size: 1.125rem;
  margin-bottom: 1rem;
  color:#333;
*/
	font-size: 16px;
	margin-bottom: 1rem;
	color: #333;
	font-weight: 700;
}

@media screen and (min-width: 40em) {
	.marketing-site-features {
		text-align: left;
	}
}

.servis-headline {
	text-align: center;
	font-size: 24px;
}

.servis-subheadline {
	margin-bottom: 2rem;
	text-align: center;
}

.okusiicon {
	color: #1E7AD6;
	font-size: 36px;
}


/*
.dropdown.menu li.is-active > a {
  background: #FFFFFF ;
  color: #1779ba; }

*/

.okusiicon1 {
	color: #1E7AD6;
	font-size: 16px;
	padding-right: 5px;
}

.panah {
	color: #FFFFFF;
	font-size: 56px;
}

.logookusi img {
	width: 30rem;
	min-height: 20%;
	padding-right: 5px;
}

.dropdown.menu>li.is-dropdown-submenu-parent>a::after {
	border-color: #333 transparent transparent;
}

.hasan {
	*zoom: 1;
	margin-right: auto;
	margin-left: auto;
	max-width: 64.875rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.top-bar {
	z-index: 10;
	transition: height .25s ease;
	height: 4em;
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.18);
}

.top-bar .top-bar-right,
.top-bar .top-bar-left {
	transition: padding-top .25s ease;
	padding-top: 0.1em;
}

.top-bar.shrink {
	height: 3.5em;
}

.top-bar.shrink .top-bar-right,
.top-bar.shrink .top-bar-left {
	padding-top: 0em;
}

.servis-lead {
	font-weight: normal;
	font-size: 14px;
}